.blue-button {
  background-color: $soft-blue;
  padding: 0.5rem;
  border-radius: 2px;
  color: white;
  border: none;
  @include darken-hover-button($soft-blue, white);
}

.link-white {
  color: white;
  @include darken-hover-text(white);
}