.delete-form-container {
  // width: 320px;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 4px;
}

.delete-confirm {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  a {
    margin-right: 10px;
  }
}