.second-link {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  width: 35px;
}

.third-link {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  width: 35px;
}

.dev-links {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;

  &:hover .second-link {
    left: -35px;
    opacity: 1;
  }

  &:hover .third-link {
    left: -70px;
    opacity: 1;
  }
}

.dev-link {
  font-size: 30px;
  color: white;

  &:hover {
    color: $soft-blue;
  }
}

@media (max-width: 600px) {
  .dev-links {
    margin-right: 15px;

    &:hover .second-link {
      left: -22px;
    }

    &:hover .third-link {
      left: -44px;
    }
  }

  .dev-link {
    font-size: 20px;
  }

  .third-link {
    width: 20px;
  }

  .second-link {
    width: 20px;
  }
}
