.input-container {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 45px;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease all;
  color: gray;
}

.form-input:focus + .floating-label,
.form-input:not(:focus):valid + .floating-label{
  top: 25%;
  left: 35px;
  font-size: 11px;
}

.form-input:focus + .floating-label {
  color: $soft-blue;
}

.form-input:focus {
  border-color: $soft-blue;
}


.form-input {
  font-size: 14px;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-color: gray;
  margin-bottom: 20px;
}
