.login-form-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  width: 320px;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 4px;
}

.form-submit {
  width: 100%;
  font-weight: 700;
}