.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  font-family: sans-serif;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.link-white {
  color: white;
}

.nav-auth {
  font-size: 1.1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.nav-login {
  @include darken-hover-text(white);
}

.nav-signup {
  margin-left: 1.5rem;
  @include darken-hover-button($soft-blue, white);
}