.index-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.photo-container {
  flex-grow: 1;
  position: relative;
  margin: 3px;
}

.index-photo-link {
  width: 100%;
}

.index-photo {
  height: 200px;
  min-width: 100%;
  object-fit: cover;
}


.bot-right {
  position: absolute;
  bottom: 2px;
  right: 0;

  & > * {
    margin-right: 5px;
  }
}