.index-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-right: -5px;
}

.photo-container {
  flex-grow: 1;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
  transition: opacity .5s;
  box-sizing: border-box;
  
  &:hover .hud {
    opacity: 100%;
  }
}

// .info-container {
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
// }

.index-photo-link {
  width: 100%;
}

.index-photo {
  height: 150px;
  min-width: 100%;
  object-fit: cover;
}

.hud {
  opacity: 0%;
  transition: ease all .5s;
  filter: drop-shadow(0px 0px 3px #000000);
  text-shadow: 0 0 50px black, 0 0 50px black;
  // box-shadow: 
  //       inset 0px 11px 20px -20px black,
  //       inset 0px 11px 20px -20px black; 
}

.bot-right {
  position: absolute;
  bottom: 5px;
  right: 5px;

  & > * {
    margin-right: 5px;
  }
}

.ellipsis {
  position: absolute;
  top: 5px;
  right: 10px;
}

.photo-info {
  position: absolute;
  bottom: 5px;
  left: 10px;
  p {
    font-size: 14px;
    font-weight: 700;
  }
  a {
    font-size: 10px;
    color: $gray;
  }

}

@media (max-width: 1050px) {
  .index-container {
    margin-right: 10px;
    margin-left: 10px;
  }
}